* {
  box-sizing: border-box;
}

html,
body {
  font-size: 62.5%;
  line-height: 1.285;
}
body {
  font-family: 'Nunito Sans', sans-serif;
  margin: 0;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}
a {
  text-decoration: none;
  color: var(--color-text);
}

button {
  background: transparent;
  outline: none;
  border: 0;
}
button:focus {
  outline: 1px solid var(--color-accent);
}
