@import 'reset.css';
@import 'root.css';

/* Common */
.section {
  padding: 4rem;
  text-align: center;
}
.max-container {
  max-width: var(--size-max-width);
  margin: auto;
}
.title {
  font-size: 2.5rem;
  margin: 1rem 0;
}

.sub-title {
  display: flex;
  align-items: center;
  margin: 3rem 0 1rem 0;
  gap: 1rem;
  font-size: 1.8rem;
  font-weight: bold;
  color: var(--color-primary-variant);
  filter: brightness(150%);
}

.description {
  font-size: 1.5rem;
  margin: 1rem 2rem;
}

/* Header */
.header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  align-items: center;
  z-index: 1;
  transition: all 300ms ease;
}
.header-dark {
  color: var(--color-text-white);
  background-color: var(--color-primary);
  box-shadow: rgba(0, 0, 0, 0.46) 0px 3px 8px;
}
.header-logo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.header-logo-img {
  width: 3.6rem;
  height: 3.6rem;
}

.header-logo-title {
  font-size: 1.8rem;
}

.header-menu {
  display: flex;
  gap: 4px;
}

.header-menu-item {
  padding: 8px 16px;
  font-size: 1.2rem;
}

.header-menu-item.active {
  background-color: var(--color-primary);
  outline: 1px solid var(--color-text-black);
  color: var(--color-text-white);
  border-radius: 4px;
}

.header-menu-item:hover {
  outline: 1px solid var(--color-text-black);
  border-radius: 4px;
}

.header-menu-item.header-dark:hover {
  outline: 1px solid var(--color-text-white);
  border-radius: 4px;
}

.header-menu-item.header-dark.active {
  font-weight: bold;
  background-color: var(--color-text-white);
  outline: 1px solid var(--color-text-white);
  color: var(--color-text-black);
  border-radius: 4px;
}

.menu-toggle {
  font-size: 2rem;
  color: var(--color-text);
  display: none;
  position: absolute;
  top: 1.3rem;
  right: 1rem;
}

/* Home */

#home {
  position: relative;
  background-color: var(--color-gray-light);
  color: var(--color-text-black);
  padding: 8rem 5rem 5rem 1rem;
  text-align: center;
}

.home-devider {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.home-devider svg {
  position: relative;
  display: block;
  width: calc(149% + 1.3px);
  height: 99px;
}

.home-devider .shape-fill {
  fill: #ffffff;
}

.home-profile {
  width: 250px;
  height: 250px;
  object-fit: contain;
  border: 5px solid var(--color-primary);
  border-radius: 100%;
  background-color: var(--color-white);
}

.home-title {
  font-size: 3rem;
  margin: 1rem 0;
  color: var(--color-primary-variant);
  filter: brightness(150%);
}
.home-title-strong {
  color: var(--color-text-black);
}

.home-description {
  font-size: 1.3rem;
}

.home-btn-container {
  margin: 2.5rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.home-btn {
  display: inline-block;
  padding: 0.7rem 1.5rem;
  font-weight: bold;
  color: var(--color-text-white);
  border-radius: 4px;
  font-size: 1.3rem;
  transition: all 250ms ease;
}

.home-btn.contact {
  background-color: var(--color-yellow);
  border: 1px solid;
  color: var(--color-text-black);
}

.home-btn.resume {
  background-color: var(--color-text-black);
  color: var(--color-text-white);
}

.home-btn:hover {
  transform: scale(1.1);
}
/* About */

.advantages {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: var(--color-primary-variant);

  filter: brightness(150%);
  color: var(--color-text-white);
  padding: 3rem;
  gap: 1rem;
  border-radius: 8px;
  box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.4);
  margin: 2rem 0;
}
.advantage {
  display: flex;
  font-size: 1.2rem;
  align-items: center;
  gap: 0.5rem;
}

.advantage:hover {
  color: var(--color-accent);
}

.advantage-icon {
  color: var(--color-accent);
}

.jobs {
  text-align: start;
}

.job {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  margin-bottom: 1rem;
}

.job-name {
  color: var(--color-text-black);
  font-size: 1.2rem;
}

.job-period {
  color: var(--color-text-black);
  font-size: 0.9rem;
}

.jobs-icon {
  color: var(--color-accent);
  filter: brightness(90%);
  font-size: 1.8rem;
  padding-right: 0.5rem;
}

/* Skills */

#skills {
  background-color: var(--color-bage);
  color: var(--color-text-black);
  position: relative;
}

.custom-shape-divider-top-1694539826 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1694539826 svg {
  position: relative;
  display: block;
  width: calc(256% + 1.3px);
  height: 39px;
}

.custom-shape-divider-top-1694539826 .shape-fill {
  fill: #ffffff;
}

.max-container.skills-container {
  padding: 2rem 3rem;
}

.majors {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 5rem;
}
.major {
  flex: 1;
  background-color: var(--color-gray-dark);
  padding: 2rem 1rem;
  color: var(--color-text-white);
  border-radius: 1rem;
  cursor: default;
  box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.4);
}

.major-icon {
  font-size: 3.6rem;
  margin: 1rem 0;
  color: var(--color-accent);
  transition: all 300ms ease;
}

.major-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
.major:hover .major-icon {
  transform: scale(1.2) rotate(-15deg);
}

.skills {
  display: grid;
  grid-template-columns: 6fr 4fr;
  border-radius: 8px;
  overflow: hidden;
  color: var(--color-text-white);
  box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.4);
  margin-bottom: 5rem;
}
.skills-title {
  font-size: 1.2rem;
  margin: 1rem 0;
}

.skills-coding {
  grid-row: span 2;
  padding: 1rem;
  background-color: var(--color-primary-variant);
}

.skills-tools {
  padding: 1rem;
  background-color: var(--color-primary-variant);
  filter: brightness(150%);
}
.skills-etc {
  padding: 1rem;
  background-color: var(--color-primary-variant);
  filter: brightness(200%);
}

.skills-bar {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 0.5rem;
}

.bar-metadata {
  display: flex;
  justify-content: space-between;
}

.bar-bg {
  width: 100%;
  height: 4px;
  background-color: var(--color-text-black);
}

.bar-value {
  height: 4px;
  background-color: var(--color-accent);
}

/* Projects */

#projects {
  position: relative;
  background-color: var(--color-pink-light);
  color: var(--color-text-black);
}
.custom-shape-divider-top-1694540305 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1694540305 svg {
  position: relative;
  display: block;
  width: calc(300% + 1.3px);
  height: 52px;
}

.custom-shape-divider-top-1694540305 .shape-fill {
  fill: #f1f1ea;
}

.categories {
  display: flex;
  justify-content: center;
  margin: 2.5rem;
  gap: 1rem;
}
.category {
  position: relative;
  color: var(--color-text-black);
  background-color: var(--color-text-white);
  font-size: 1.1rem;
  padding: 0.5rem 3rem;
  border: 1px solid var(--color-text-black);
  border-radius: 4px;
  cursor: pointer;
  white-space: nowrap;
}

.category-selected {
  background-color: var(--color-text-black);
  color: var(--color-text-white);
}

.category-count {
  opacity: 0;
  position: absolute;
  top: -20px;
  right: 16px;
  line-height: 28px;
  width: 28px;
  height: 28px;
  background-color: var(--color-accent);
  color: var(--color-text);
  border-radius: 100%;
  transition: all 200ms ease-in;
}

.category-selected .category-count,
.category:hover .category-count {
  opacity: 1;
  top: 5px;
}

.projects {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 1rem;
  transition: all 250ms ease-out;
  margin: 4rem 0;
}

.projects.animaition {
  opacity: 0;
  transform: scale(0.95) translateY(10px);
}

.project {
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  object-fit: cover;
  display: block;
  box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.4);
}
.project-img {
  width: 100%;
  height: 100%;
}

.project-meatadata {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-primary);
  color: var(--color-white);
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 250ms ease-in;
  transform: translateY(-10px);
}

.project-meatadata:hover {
  opacity: 0.8;
  transform: translateY(0px);
}

.project-tilte::after {
  content: '';
  display: block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin: 0.5rem 0;
  width: 50px;
  height: 2px;
  background-color: var(--color-accent);
}

.description-item {
  display: none;
}

/* Other Experience */
#otherExperience {
  position: relative;
}
.custom-shape-divider-top-1694540478 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1694540478 svg {
  position: relative;
  display: block;
  width: calc(125% + 1.3px);
  height: 65px;
}

.custom-shape-divider-top-1694540478 .shape-fill {
  fill: #f5ebf1;
}
.experience-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 0 4rem;
}

.experience-item {
  width: 100%;
  padding: 2rem 3rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.experience-item.award {
  background-color: var(--color-blue-light);
}

.experience-item.certificate {
  background-color: var(--color-bage);
}
.experience-item-title {
  font-size: 1.2rem;
}
.experience-item-strong {
  color: var(--color-accent);
  filter: brightness(90%);
}

/*Arrow Button */

.arrow-btn {
  z-index: 1;
  background-color: var(--color-accent);
  color: var(--color-text-white);
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  font-size: 3rem;
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 100%;
  text-align: center;
  line-height: 4.5rem;
  opacity: 0;
  transition: all 300ms ease-in;
  box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.4);
}

/* Footer */

#contact {
  position: relative;
  background-color: var(--color-primary);
  color: var(--color-text-white);
  padding-top: 150px;
}
.custom-shape-divider-top-1694382660 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1694382660 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
}

.custom-shape-divider-top-1694382660 .shape-fill {
  fill: #ffffff;
}

.contact-links {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  font-size: 2rem;
}
.contact-link {
  transition: color 250ms ease-in;
}
.contact-link:hover {
  color: var(--color-accent);
}

/* 반응형 */

@media screen and (max-width: 768px) {
  .section {
    padding: 3rem 2rem;
  }

  .title {
    font-size: 2rem;
  }

  .description {
    font-size: 1rem;
  }
  .header {
    flex-direction: column;
    align-items: start;
    background-color: var(--color-text-black);
    color: var(--color-text-white);
  }
  .header-nav {
    width: 100%;
  }

  .header-menu {
    flex-direction: column;
    text-align: center;
    margin: 1rem 2rem;
    gap: 1rem;
    display: none;
  }

  .menu-toggle {
    display: block;
  }

  .header-menu.open {
    display: flex;
  }
  .header-menu-item {
    display: block;
  }
  #home {
    padding-bottom: 3rem;
  }
  .home-title {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
  }

  .majors {
    flex-direction: column;
    align-items: center;
  }
  .major {
    width: 25rem;
  }
  .jobs {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 25rem;
    margin: auto;
  }

  .skills {
    grid-template-columns: 1fr;
  }
  .categories {
    flex-direction: column;
  }

  .category {
    width: 100%;
  }

  .projects {
    grid-template-columns: repeat(2, 1fr);
  }

  .experience-title {
    font-size: 1.6rem;
  }
  .experience-container {
    padding: 0;
  }

  .experience-item-title {
    font-size: 1.1rem;
  }

  .arrow-btn {
    font-size: 2rem;
    width: 3rem;
    height: 3rem;
    bottom: 1.5rem;
    right: 1.5rem;
    line-height: 3rem;
  }
}
