@import 'reset.css';

/* Global */
:root {
  /* App Colors */
  --color-primary: var(--color-black);

  --color-primary-variant: var(--color-gray);

  --color-accent: var(--color-blue);

  --color-accent-variant: var(--color-orange);

  --color-text: var(--color-white);

  /* Colors */
  --color-white: #ffffff;

  --color-black: #050a13;

  --color-blue: #03e8f9;

  --color-orange: #fd6413;

  --color-gray: #1b1e26;
}
