@import 'reset.css';
@import 'root.css';
/* Common */
.section {
  padding: 4rem;
  text-align: center;
}
.max-container {
  max-width: var(--size-max-width);
  margin: auto;
}
.title {
  font-size: 2.5rem;
  margin: 1rem 0;
}

.sub-title {
  display: flex;
  align-items: center;
  margin: 3rem 0 1rem 0;
  gap: 1rem;
  font-size: 1.8rem;
  font-weight: bold;
  color: var(--color-primary-variant);
  filter: brightness(150%);
}

.description {
  font-size: 1.5rem;
  margin: 1rem 2rem;
}

/* Header */
.header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  align-items: center;
  z-index: 1;
  transition: all 300ms ease;
}
.header-dark {
  color: var(--color-text-white);
  background-color: var(--color-primary);
  box-shadow: rgba(0, 0, 0, 0.46) 0px 3px 8px;
}
.header-logo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.header-logo-img {
  width: 3.6rem;
  height: 3.6rem;
}

.header-logo-title {
  font-size: 1.8rem;
}

.header-menu {
  display: flex;
  gap: 4px;
}

.header-menu-item {
  padding: 8px 16px;
  font-size: 1.2rem;
}

.header-menu-item.active {
  background-color: var(--color-primary);
  outline: 1px solid var(--color-text-black);
  color: var(--color-text-white);
  border-radius: 4px;
}

.header-menu-item:hover {
  outline: 1px solid var(--color-text-black);
  border-radius: 4px;
}

.header-menu-item.header-dark:hover {
  outline: 1px solid var(--color-text-white);
  border-radius: 4px;
}

.header-menu-item.header-dark.active {
  font-weight: bold;
  background-color: var(--color-text-white);
  outline: 1px solid var(--color-text-white);
  color: var(--color-text-black);
  border-radius: 4px;
}

.menu-toggle {
  font-size: 2rem;
  color: var(--color-text);
  display: none;
  position: absolute;
  top: 1.5rem;
  right: 1rem;
}

/* Home */

#home {
  position: relative;
  background-color: var(--color-gray-light);
  color: var(--color-text-black);
  padding: 8rem 1rem 5rem 1rem;
  text-align: center;
}
#home::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: calc(100% + 1.3px);
  height: 99px;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
  background-color: var(--color-text-white);
  mask: var(--divider-single-wave);
  -webkit-mask: var(--divider-single-wave);
}

.home-profile {
  width: 250px;
  height: 250px;
  object-fit: contain;
  border: 5px solid var(--color-primary);
  border-radius: 100%;
  background-color: var(--color-white);
}

.home-title {
  font-size: 3rem;
  margin: 1rem 0;
  color: var(--color-primary-variant);
  filter: brightness(150%);
}
.home-title-strong {
  color: var(--color-text-black);
}

.home-description {
  font-size: 1.3rem;
}

.home-btn-container {
  margin: 2.5rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.home-btn {
  display: inline-block;
  padding: 0.7rem 1.5rem;
  font-weight: bold;
  color: var(--color-text-white);
  border-radius: 4px;
  font-size: 1.3rem;
  transition: all 250ms ease;
}

.home-btn.contact {
  background-color: var(--color-yellow);
  border: 1px solid;
  color: var(--color-text-black);
}

.home-btn.resume {
  background-color: var(--color-text-black);
  color: var(--color-text-white);
}

.home-btn:hover {
  transform: scale(1.1);
}
/* About */

.advantages {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: var(--color-navy-light);
  color: var(--color-text-white);
  padding: 3rem;
  gap: 1rem;
  border-radius: 8px;
  box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.4);
  margin: 2rem 0;
}
.advantage {
  display: flex;
  font-size: 1.2rem;
  align-items: center;
  gap: 0.5rem;
}

.advantage:hover {
  color: var(--color-accent);
}

.advantage-icon {
  color: var(--color-accent);
}

.jobs {
  text-align: start;
}

.job {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  margin-bottom: 1rem;
}

.job-name {
  color: var(--color-text-black);
  font-size: 1.2rem;
}

.job-period {
  color: var(--color-text-black);
  font-size: 0.9rem;
}

.jobs-icon {
  color: var(--color-accent);
  filter: brightness(90%);
  font-size: 1.8rem;
  padding-right: 0.5rem;
}

/* Skills */

#skills {
  background-color: var(--color-bage);
  color: var(--color-text-black);
  position: relative;
}
#skills::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% + 1.3px);
  height: 50px;
  overflow: hidden;
  line-height: 0;
  background-color: var(--color-text-white);
  mask: var(--divider-multi-wave);
  -webkit-mask: var(--divider-multi-wave);
}

.max-container.skills-container {
  padding: 2rem 3rem;
}

.majors {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 5rem;
}
.major {
  flex: 1;
  background-color: var(--color-gray-dark);
  padding: 2rem 1rem;
  color: var(--color-text-white);
  border-radius: 1rem;
  cursor: default;
  box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.4);
}

.major-icon {
  font-size: 3.6rem;
  margin: 1rem 0;
  color: var(--color-accent);
  transition: all 300ms ease;
}

.major-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
.major:hover .major-icon {
  transform: scale(1.2) rotate(-15deg);
}

.skills {
  display: grid;
  grid-template-columns: 6fr 4fr;
  border-radius: 8px;
  overflow: hidden;
  color: var(--color-text-white);
  box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.4);
  margin-bottom: 5rem;
}
.skills-title {
  font-size: 1.2rem;
  margin: 1rem 0;
}

.skills-coding {
  grid-row: span 2;
  padding: 1rem;
  background-color: var(--color-primary-variant);
}

.skills-tools {
  padding: 1rem;
  background-color: var(--color-navy-light);
}
.skills-etc {
  padding: 1rem;
  background-color: var(--color-navy-bright);
}

.skills-bar {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 0.5rem;
}

.bar-metadata {
  display: flex;
  justify-content: space-between;
}

.bar-bg {
  width: 100%;
  height: 4px;
  background-color: var(--color-text-black);
}

.bar-value {
  height: 4px;
  background-color: var(--color-accent);
}

/* Projects */

#projects {
  position: relative;
  background-color: var(--color-pink-light);
  color: var(--color-text-black);
}

#projects::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% + 1.3px);
  height: 52px;
  overflow: hidden;
  line-height: 0;
  background-color: var(--color-bage);
  mask: var(--divider-multi-wave);
  -webkit-mask: var(--divider-multi-wave);
}

.categories {
  display: flex;
  justify-content: center;
  margin: 2.5rem;
  gap: 1rem;
}
.category {
  position: relative;
  color: var(--color-text-black);
  background-color: var(--color-text-white);
  font-size: 1.1rem;
  padding: 0.5rem 3rem;
  border: 1px solid var(--color-text-black);
  border-radius: 4px;
  cursor: pointer;
  white-space: nowrap;
}

.category-selected {
  background-color: var(--color-text-black);
  color: var(--color-text-white);
}

.category-count {
  opacity: 0;
  position: absolute;
  top: -20px;
  right: 16px;
  line-height: 28px;
  width: 28px;
  height: 28px;
  background-color: var(--color-accent);
  color: var(--color-text);
  border-radius: 100%;
  transition: all 200ms ease-in;
}

.category-selected .category-count,
.category:hover .category-count {
  opacity: 1;
  top: 5px;
}

.projects {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 1rem;
  transition: all 250ms ease-out;
  margin: 4rem 0;
}

.projects.animaition {
  opacity: 0;
  transform: scale(0.95) translateY(5px);
}

.project {
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  object-fit: cover;
  display: block;
  box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.4);
}
.project-img {
  width: 100%;
  height: 100%;
}

.project-meatadata {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-primary);
  color: var(--color-white);
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 250ms ease-in;
  transform: translateY(-10px);
  cursor: pointer;
}

.project-meatadata:hover {
  opacity: 0.8;
  transform: translateY(0px);
}

.project-tilte::after {
  content: '';
  display: block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin: 0.5rem 0;
  width: 50px;
  height: 2px;
  background-color: var(--color-accent);
}

.project-description {
  transition: all 300ms linear;
}

.project-description.animaition {
  opacity: 0.9;
  transform: scale(0.96);
}
.description-item {
  display: none;
}

.description-item.selected-project {
  display: block;
}

.description-container {
  display: grid;
  grid-template-columns: 4fr 6fr;
  border-radius: 8px;
  overflow: hidden;
  margin: 4rem 0;
  box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.4);
  background-color: var(--color-text-white);
}

.description-content {
  padding: 2rem 1.5rem;
  color: var(--color-text-white);
}
.description-content.information {
  background-color: var(--color-primary-variant);
  grid-row: span 2;
  font-size: 1.2rem;
}

.description-content.purpose {
  background-color: var(--color-navy-light);
  font-size: 1.1rem;
}
.description-content.detail {
  background-color: var(--color-navy-bright);
  font-size: 1.1rem;
}
.description-briefly {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-bottom: 4rem;
}
.description-briefly-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--color-blue-light);
  color: var(--color-text-black);
  text-align: left;
  margin: 0 1.5rem;
  padding: 1.5rem 1rem;
  border-radius: 8px;
}

.description-title {
  font-size: 1.8rem;
  font-weight: 600;
}
.description-project-img {
  height: auto;
  width: 20rem;
  border-radius: 4px;
}
.description-btn-container {
  margin: 1rem auto;
  display: flex;
  gap: 1rem;
}

.description-btn {
  background-color: var(--color-accent);
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  transition: all 250ms ease;
}

.description-btn:hover {
  transform: scale(1.1);
}
.description-content-title {
  font-size: 1.2rem;
  text-align: left;
}

.description-text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  text-align: left;
  margin-bottom: 1rem;
}
.description-text-strong {
  font-size: 1.2rem;
}

.check-icon {
  color: var(--color-accent);
  padding: 0.3rem;
  font-size: 1.4rem;
}

/* Other Experience */
#otherExperience {
  position: relative;
}

#otherExperience::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% + 1.3px);
  height: 65px;
  overflow: hidden;
  line-height: 0;
  background-color: var(--color-pink-light);
  mask: var(--divider-single-wave);
  -webkit-mask: var(--divider-single-wave);
}
.experience-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 0 4rem;
}

.experience-item {
  width: 100%;
  padding: 2rem 3rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.experience-item.award {
  background-color: var(--color-blue-light);
}

.experience-item.certificate {
  background-color: var(--color-bage);
}
.experience-item-title {
  font-size: 1.2rem;
}
.experience-item-strong {
  color: var(--color-accent);
  filter: brightness(90%);
}

/*Arrow Button */

.arrow-btn {
  z-index: 1;
  background-color: var(--color-accent);
  color: var(--color-text-white);
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  font-size: 3rem;
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 100%;
  text-align: center;
  line-height: 4.5rem;
  opacity: 0;
  transition: all 300ms ease-in;
  box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.4);
}

/* Footer */

#contact {
  position: relative;
  background-color: var(--color-primary);
  color: var(--color-text-white);
  padding-top: 150px;
}

#contact::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% + 1.3px);
  height: 150px;
  overflow: hidden;
  line-height: 0;
  background-color: var(--color-text-white);
  mask: var(--divider-arrow);
  -webkit-mask: var(--divider-arrow);
}

.contact-links {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  font-size: 2rem;
}
.contact-link {
  transition: color 250ms ease-in;
}
.contact-link:hover {
  color: var(--color-accent);
}
